.addressBook {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.remove {
    background-color: transparent;
    --color-brand: var(--color-accent);
    display: flex;
    align-items: center;
}

@media(max-width: 576px) {
  .remove {
    justify-content: flex-start;
  }
}

.item {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

@media (max-width: 576px) {
    .item {
        flex-direction: column;
    }
}

.item address {
    font-size: 0.85em;
}

.item h3 {
    margin: 0 0 0.5em;
}
